# ==========================================
# Python Cache
# ==========================================
__pycache__/
*.py[cod]

# ==========================================
# Virtual Environment
# ==========================================
.venv/
venv/
env/

# ==========================================
# Environment Variables
# ==========================================
.env

# ==========================================
# Ignore ONLY Vector Databases
# ==========================================
config/data/vector_db/
config/data/LC_vector_db/
config/data/test_vector_db/
config/data/test_vectors/

# ==========================================
# IDE Files
# ==========================================
.vscode/
.idea/

# ==========================================
# OS Files
# ==========================================
.DS_Store
Thumbs.db